* {
    box-sizing: border-box
}

html,
body {
    height: 100%;
}

body,
textarea,
input {
    color: #4B4B4B;
    background-color: #fff;
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: none transparent;
    background-color: #fff;
    border: 1px solid #E0DFDE;
    border-radius: 5px;
    vertical-align: middle;
    padding: 0 10px;
    font-size: 14px;
    color: #E0DFDE;
    height: 43px;
}

input {
    border: 1px solid #E0DFDE;
    border-radius: 5px;
    padding: 0 10px;
    height: 43px;
    font-size: 14px;
}

textarea::placeholder,
input::placeholder {
    color: #E0DFDE;
    background-color: #fff;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* ヘッダー */
.header {
    height: 5%;
    margin: 0;
}

.header__logo {
    font-family: serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 500;
    color: #F5C800;
    height: 100%;
    margin: 0;
    margin-left: 20px;
    font-weight: lighter;
}

.content {
    background-color: #F8F8F8;
    display: grid;
    height: 100%;
    margin: 0;
}

.content__heading {
    font-size: 32px;
    font-weight: 600;
}

/* ボタン */
.btn {
    display: block;
    padding: 8px 32px;
    border: none;
    background-color: #F5C800;
    font-size: 16px;
    cursor: pointer;
}

/* ページネーション */
.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
}

.pagination li:not(.active) {
    padding: 4px 12px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 50%;
}

.pagination li:not(:last-child) {
    border-right: none;
}

.pagination a {
    background-color: #fff;
    border-radius: 50%;
    color: #4B4B4B;
    text-decoration: none;
}

.pagination__link {
    text-decoration: none;
}

.active {
    padding: 4px 12px;
    background-color: #F5C800;
    border-radius: 50%;
    color: #FFF;
}
