.products-list {
    display: grid;
    grid-template-rows: 120px 1fr 1fr;
    grid-template-columns: 20% 1fr;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
}

.products-list__heading {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 20px;
}

.add-form__btn {
    background-color: #FFA929;
    width: 140px;
    height: 50px;
}

.add-form__btn:hover {
    background-color: #DF9425;;
}

.products-list__sidebar {
    grid-column: 1/2;
    grid-row: 2/4;
    margin-right: 30px;
    margin-top: 0;
}

.search-form__keyword-input {
    border: 1px solid #E0DFDE;
    border-radius: 25px;
    padding: 0 10px;
    height: 50px;
    width: 100%;
    font-size: 14px;
}

.search-sort-form {
    padding-bottom: 40px;
    border-bottom: 1px solid #E0DFDE;
}

.search-form__search-btn {
    width: 100%;
    margin-top: 20px;
}

.search-form__search-btn:hover {
    background-color: #DDB400;;
    ;
}

.sort-form__heading {
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0 20px;
}

.sort-form__select-inner {
    position: relative;
}

.sort-form__select-inner::after {
    position: absolute;
    top: 50%;
    right: 5%;
    width: 0;
    height: 0;
    border-top: 8px solid #BEB1A6;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    content: "";
    transform: translateY(-50%);
}

.sort-form__select {
    width: 100%;
}

.sort-form__select select {
    padding: 0 10px;
}

.products-list__content {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto;
    width: 100%;
}


.product__card {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0;
}

.card__img {
    height: 100%;
}

.card__img input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0%;
    padding: 0;
    cursor: pointer;
}

.card__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
}

.card__content p {
    margin: 10px 0;
}

.card__price::before {
    content: "¥";
}

.products-list__pagination {
    grid-column: 2/3;
    grid-row: 3/4;
    margin-top: 30px;
}


